<ol class="breadcrumb">
  <li><a href="localhost:3000">Home</a></li>
  <li><a href="localhost:3000/categories">Category List</a></li>
  <li class="active">Data</li>
</ol>


<div class="jumbotron">
	<h1>Hi! To Do List</h1>
	<middle>Now time is <%= Time.now %> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, asperiores, officia! Quo optio voluptatibus cupiditate, sint voluptate quae quia nam doloribus veritatis at incidunt, illum asperiores veniam dolor corporis debitis ipsum cum perspiciatis assumenda! Voluptatibus, voluptatem earum suscipit voluptatum molestiae. </middle>
	<h3>Let`s get it done!</h3>
		<br>
		<%= link_to 'New Item', new_item_path, :class => "btn btn-primary" %>
</div>

<h3>Progress</h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 63%;">
    63%
  </div>
</div>





<h3>To Be Done</h3>
<h4><%= link_to 'Category List', categories_path %></h4>


<% @items.each do |item| %>
	<div class="panel panel-default">
 	 <div class="panel-body">
		<h4><%= link_to item.title, item_path(item) %></h4>
		<h5>Description: <%= item.decription %></h5>
		<h5>Due date: <%= item.due_date %></h5>
		<h5>Writed by: <%= item.user.try(:short_name) %></h5>


			<%= link_to 'Edit', edit_item_path(item), :class => "btn btn-default btn-sm" %>
			<%= link_to 'Show', item_path(item), :class => "btn btn-default btn-sm" %>
 			<%= link_to 'Destroy', item_path(item), method: :delete, data:{ confirm:"Are you sure?"}, :class => "btn btn-warning btn-sm " %>

  	</div>
	</div>
<% end %>

<br>
<%= paginate @items %>
	
<br>
		<%= link_to 'New Item', new_item_path, :class => "btn btn-primary" %>
