<ol class="breadcrumb">
  <li><%= link_to 'Home', items_path %></li>
  <li><%= link_to 'About', about_items_path %></li>
  <li><%= link_to 'Profile', profile_user_path(current_user) %></li>
  <li class="active">Data</li>
</ol>


<div class="jumbotron">
	<h1>Hi! To Do List</h1>
	<middle>Now time is <%= Time.now %> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, asperiores,  ipsum cum perspiciatis assumenda! Voluptatibus, voluptatem earum suscipit voluptatum molestiae. </middle>
	<h3>Let`s get it done!</h3><br>

<div class = "form-froup">
<%= form_for @item, :remote => true do |f| %>

    <%= f.label :title%>
    <%= f.text_field :title%><br>

	<%= f.label :tag_name, 'Please Tag belove' %><br>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) %><br>

    <%= f.label :category_id, "Category" %>
    <%= f.select :category_id, Category.all.map{ |x| [x.category_name, x.id] }, :prompt => "Please Select" %><br>


    <%= f.label :decription, "Description"%>
    <%= f.text_field :decription%><br>

   <%= f.label :due_date%>
    <%= f.date_select :due_date, :required => true, :class => "form-control" %> <br>

  <%= f.submit :class => "btn btn-primary"%><br>
  <br>
<% end %>
</div>
</div>

<h3>Progress</h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 63%;">
    63%
  </div>
</div>


<h3><%= Item.count %> Items To Be Done</h3>
<h4><%= link_to 'Category List', categories_path, :class => "btn btn-info" %></h4>


<% @items.each do |item| %>
  <div class=" panel panel-default">
 	  <div class="panel-body">
    <h4><%= link_to item.title, item_path(item) %></h4>
		<h5>Description: <%= item.decription %></h5>
		<h5>Due date: <%= item.due_date %></h5>
		<h5>Writed by: <%= link_to item.user.try(:short_name), profile_user_path(current_user) %></h5>
    <h5>Number of Replies: <%= item.comments.size %></h5>

		<% if item.user == current_user %>
			<%= link_to 'Edit', items_path, :class => "btn btn-default btn-sm" %>
			<%= link_to 'Destroy', item_path(item), method: :delete, data:{ confirm:"Are you sure?"}, :class => "btn btn-warning btn-sm " %>
		<% else %>
		<% end %>

      <%= link_to 'Add Comment', item_path(item), :class => "btn btn-info btn-sm" %>
      <%= link_to  item.comments.count,item_path(item), :class => "btn btn-info btn-sm" %>
			<%= link_to 'Show', item_path(item), :class => "btn btn-default btn-sm" %>

      <!-- <table class="table">
      <%= render :partial => "likenumber", :locals => { :item => item } %>
    </table> -->


  	</div>
	</div>
<% end %>

<br>
<%= paginate @items %>

<br>
		<%= link_to 'New Item', new_item_path, :class => "btn btn-primary" %>
