<h1>Details..</h1>
<div class="panel panel-default">
	<div class="panel-body"><br>
		<p>Title: <%= best_in_place @item, :title %></p>
		<p>Category: <%= @item.category.category_name%>
		<p>Description: <%= @item.decription %><br>
		<p>Due Date: <%= @item.due_date %><br>
		<p>Tags: <% @item.tags.each do |g| %>
				<%= g.tag_name %> 
				<% end %>
		<br>
	</div>

	<h3> number of replies: <%= @item.comments.count %></h2>
		<% @item.comments.each do|f| %>	
			<%= f.comment %><br>
			<%= time_ago_in_words(f.created_at) %> <br>
		<% end %>

	<h3>Add comment</h3>
		<%= form_for([@item, @item.comments.build]) do |f| %>
		<%= f.text_area :comment %><br>
		<%= f.submit %>
		<% end %><br>
		


	  <p><%= link_to 'Back to index', items_url, :class => "btn btn-default btn-sm" %></p>
</div>

